# r files
.RData
.Rhistory

# folders
log/*
tmp/*
scom-tour/src/*
scom-tour/log/*
scom-tour/tmp/*

# keep empty dir
!log/.gitkeep
!tmp/.gitkeep
!scom-tour/src/.gitkeep
!scom-tour/log/.gitkeep
!scom-tour/tmp/.gitkeep


